#ME1{
    -fx-background-image: url(/Textures/Pieces/RedWin1.png);
    -fx-background-size: cover;
    /*    */

}
#ME2{
    -fx-background-image: url(/Textures/Pieces/RedWin2.png);
    -fx-background-size: cover;
    /*-fx-background-size: fill;*/
    /*-fx-background-*/
}
#ME3{
    -fx-background-image: url(/Textures/Pieces/RedWin3.png);
    -fx-background-size: cover;
    /*-fx-background-*/
}
#ME4{
    -fx-background-image: url(/Textures/Pieces/RedWin4.png);
    -fx-background-size: cover;
    /*-fx-background-*/
}
#ME5{
    -fx-background-image: url(/Textures/Pieces/RedWin5.png);
    -fx-background-size: cover;
    /*-fx-background-*/
}
#labWin{
    -fx-font-size: 35;
    -fx-font-family: Centaur;
    -fx-color: #ff836d;
}
#labLoss{
    -fx-font-size: 35;
    -fx-font-family: Chiller;
    -fx-font-color: #69807c;
}
.label{
    -fx-font-size: 75;
}
#ENEMY1{
    -fx-background-image: url(/Textures/Pieces/RedLoss1.png);
    -fx-background-size: cover;

}
#ENEMY2{
    -fx-background-image: url(/Textures/Pieces/RedLoss2.png);
    -fx-background-size: cover;

}
#ENEMY3{
    -fx-background-image: url(/Textures/Pieces/RedLoss3.png);
    -fx-background-size: cover;

}
#ENEMY4{
    -fx-background-image: url(/Textures/Pieces/RedLoss4.png);
    -fx-background-size: cover;

}

#ENEMY5{
    -fx-background-image: url(/Textures/Pieces/RedLoss5.png);
    -fx-background-size: cover;

}

